// サイトで使用する色を定義

// 文字色
$white: #fff;
$black: #000;
$cl-black: #333;
$cl-border: #808080;
$orange: #f99f48;
// $orange: #ff9800;

// バックグラウンドカラー
// $bg-dark: #4a4a4a;
$bg-blue: #1b435d;
$bg-sky-blue: #78bbe6;
$bg-blue-2: #ffffff;
$bg-blue-3: #aedaf8;
$bg-pale-sky-blue: #f4fbff;
$bg-middle: #a98c5f;
$bg-light: #fafafa;
$bg-gray-l: #6f6f6f;
$bg-logo: #def2ff;

// ボーダーカラー
$border-white: #fff;

// バックグラウンドカラー
// $bg-blue: #1b435d;
// $bg-sky-blue: #78bbe6;
// $bg-blue-2: #ffffff;
// $bg-blue-3: #aedaf8;
// $bg-pale-sky-blue: #eaf8ff;
// $bg-middle: #a98c5f;
// $bg-light: #fafafa;
// $bg-gray-l: #6f6f6f;
// $bg-logo: #def2ff;
