@use "color";
@use "breakpoints";

// 全体の文字フォント指定
body {
  font-family: "Oswald", "Noto Sans JP", "serif";
  color: color.$cl-black;
}

/*
	ヘッダー
*/
// ヘッダー上部
.header {
  position: fixed;
  background-color: color.$bg-blue;
  width: 100%;
  z-index: 1000;
}
.header__container {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 78px;
}
.header__x-link {
  background-color: color.$bg-light;
  position: absolute;
  top: 18px;
  right: 85px;
  border-radius: 50%;
  padding: 8px;
  width: 40px;
}
.header__text {
  position: absolute;
  left: 70px;
  color: color.$white;
  padding: 15px 20px;
  font-weight: bold;
  letter-spacing: 0.3em;
}
.header__icon {
  position: absolute;
  top: 15px;
  right: 20px;
  background-color: color.$bg-blue;
  background-image: url(../img/self/hamburger_menu.png);
  background-position: center center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  border: none;
  width: 40px;
  height: 48px;
  // color: transparent;
}
.logo-img {
  position: absolute;
  max-height: 100%;
  background-color: color.$bg-logo;
}

// ヘッダーナビゲーション
.header__nav {
  display: none;
  color: color.$white;
  border-top: 1px solid color.$border-white;
  padding: 50px 0;
  height: calc(100vh - 78px);
}
.header__nav-list {
  width: fit-content;
  margin: 0 auto;
  padding-bottom: 50px;
}
.header__nav-item {
  display: flex;
  align-items: center;
}
.header__nav-item + .header__nav-item {
  margin-top: 40px;
}
.header__nav-link {
  width: 180px;
  display: flex;
  align-items: center;
  padding: 0 10px 0 30px;
}
.header__nav-link--border {
  border: 1px solid color.$white;
}
.header__nav-link--bg {
  background-color: color.$white;
  color: color.$bg-blue;
}
.header__nav-icon {
  width: 26px;
  display: flex;
  margin-right: 10px;
}
.header__nav-text {
  font-size: 20px;
}
.header__nav-x {
  display: none;
}

// ハンバーガーメニュークリック時
.is-checked {
  background-image: url(../img/self/hamburger_close_2.png);
  background-size: 80%;
}
.is-fixed {
  overflow: hidden;
}

/*
  ファーストビュー
*/
.fv {
  background-image: url(../img/self/fv.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 490px;
  position: relative;
}
.fv__container {
  position: absolute;
  bottom: 22px;
  left: 0;
  background-image: url(../img/sp/bg_fv.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
  height: 210px;
  width: 100%;
}
.fv__heading {
  padding: 30px 40px;
}
.fv__heading-main {
  font-size: 40px;
  letter-spacing: 0.1em;
  color: color.$orange;
  font-weight: bold;
}
.fv__heading-sub {
  font-size: 14px;
  margin-top: 10px;
  letter-spacing: 0.1em;
}

/*
  セクション共通
*/
.section {
  padding: 40px 0;
}
.section__inner {
  margin: 0 auto;
  padding: 0 30px;
}
.section-bgc-3 {
  background-color: color.$bg-blue-3;
}
.section_bgc2 {
  background-color: color.$bg-blue-2;
}
.section-bgc {
  background-color: color.$bg-pale-sky-blue;
}
.section-bgc-gray {
}
.section__heading {
}
.section__heading-contact {
}
.section__heading-main {
  font-size: 40px;
  letter-spacing: 0.1em;
  color: color.$orange;
  font-weight: bold;
}
.section__heading-sub {
  font-size: 11px;
  letter-spacing: 0.1em;
  color: color.$orange;
}
.section__lead-text {
  margin-top: 30px;
  font-size: 16px;
  letter-spacing: 0.1em;
}

/*
  Service
*/
.service__list {
  padding-top: 80px;
}
.service__item {
}
.service__item + .service__item {
  padding-top: 50px;
}
.service__item-img {
  text-align: center;
}
.service__item-title {
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.1em;
  margin-top: 10px;
}
.service__item-text {
  font-size: 14px;
  letter-spacing: 0.05em;
  margin-top: 10px;
}

/*
  Works
*/
.works__list {
  padding-top: 80px;
}
.works__item {
  img {
    box-shadow: 5px 5px 10px;
  }
}
.works__item + .works__item {
  padding-top: 60px;
}
.works__item-text {
}
.works__item-title {
  margin-top: 15px;
  font-weight: bold;
  font-size: 16px;
}
.works__item-detail {
  margin-top: 10px;
  font-size: 14px;
  text-decoration: underline;
}
.works__item-prepare {
  margin-top: 10px;
  font-size: 14px;
}

/*
  About
*/
.about__img {
  margin-bottom: 20px;
  img {
    box-shadow: 5px 5px 10px;
  }
}

/*
  Work Flow
*/
.flow__list {
  padding-top: 50px;
}
.flow__item {
  border: 1px solid;
  position: relative;
  padding: 20px 30px;
  border-radius: 10px;
}
.flow__item + .flow__item {
  margin-top: 50px;
}
.flow__item-number {
  font-size: 20px;
  position: absolute;
  width: 50px;
  height: 50px;
  left: 50%;
  transform: translateX(-50%);
  top: -25px;
  z-index: 998;
  background-color: color.$bg-sky-blue;
  color: color.$white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.flow__item-contents {
  margin-top: 20px;
}
.flow__item-img {
  text-align: center;
  width: 60px;
  height: auto;
  margin: 0 auto;
}
.flow__item-title {
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
  font-size: 16px;
}
.flow__item-desc {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.5;
  display: block;
  margin: 0 auto;
  max-width: 320px;
}

/*
  Message
*/
.message__img {
  margin-bottom: 20px;
  img {
    box-shadow: 5px 5px 10px;
  }
}

/*
  Contact
*/
.contact_container {
  text-align: center;
}
.contact__text {
  font-size: 15px;
}
.contact__link {
  display: block;
  max-width: 190px;
  margin: 30px auto 0;
  background-color: color.$white;
  padding: 10px;
  border-radius: 1000px;
  box-shadow: 5px 5px 10px 2px;
  span {
    font-weight: bold;
  }
}

/*
  レスポンシブ対応：PC
*/
@include breakpoints.mq("pc") {
  .wrapper {
    display: flex;
  }
  .header {
    flex-basis: 20%;
    position: relative;
    min-width: 220px;
  }
  .main {
    flex-basis: 80%;
  }
  .header__nav {
    display: block;
  }
  .header__icon {
    display: none;
  }
  .header__nav {
    padding: 70px 0;
  }
  .header__text {
    left: 46%;
    padding: 15px 0;
  }
  .header__nav-item + .header__nav-item {
    margin-top: 60px;
  }
  .header__x-link {
    display: none;
  }
  .header__sticky {
    position: sticky;
    left: 0;
    top: 0;
    overflow: auto;
  }

  .fv__container {
    background-size: 440px 100%;
    background-position: left center;
    height: 230px;
  }

  .section {
    padding: 40px 0;
  }

  .service__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 35px;
  }
  .service__item + .service__item {
    padding-top: 0;
  }
  .service__item-text {
    padding: 0 25px;
  }
  .service__item-img {
    img {
      min-height: 69px;
    }
  }

  .works__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding-top: 30px;
  }
  .works__item + .works__item {
    padding-top: 0;
  }

  .section__about {
    display: flex;
    flex-direction: row-reverse;
  }
  .about__img {
    width: 40%;
  }
  .about__contents {
    width: 60%;
    margin-right: 10px;
  }

  .flow__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  .flow__item + .flow__item {
    margin-top: 0;
  }

  .section__message {
    display: flex;
    flex-direction: row-reverse;
  }
  .message__img {
    width: 40%;
  }
  .message__contents {
    width: 60%;
    margin-right: 10px;
  }

  .header__nav-x {
    display: block;
    background-color: color.$bg-light;
    border-radius: 50%;
    padding: 8px;
    width: 50px;
    margin: 0 auto;
  }

  // .header__x-link {
  //   background-color: color.$bg-light;
  //   position: absolute;
  //   top: 18px;
  //   right: 85px;
  //   border-radius: 50%;
  //   padding: 8px;
  //   width: 40px;
  // }
}

/*
  レスポンシブ対応：Tablet
*/
@include breakpoints.mq("tab") {
  .main {
    width: calc(100vw - 220px);
  }

  .section {
    padding: 40px 0;
    // margin: 0 auto;
    // max-width: 540px;
  }

  .section__inner {
    margin: 0 auto;
  }

  .flow__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
